<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/home' ? 'active' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= path === '/sums' ? 'active' : '' %>" href="/sums/getSums">Total Sums</a></li>
            <li class="main-header__item"><a class="<%= path === '/min-max' ? 'active' : '' %>" href="/min-max/getMinMax">Min-Max</a></li>
            <li class="main-header__item"><a class="<%= path === '/sortBubble' ? 'active' : '' %>" href="/sorting/bubbleSort">Bubble Sort</a></li>
            <li class="main-header__item"><a class="<%= path === '/sortDefault' ? 'active' : '' %>" href="/sorting/defaultSort">Default Sort</a></li>
            <li class="main-header__item"><a class="<%= path === '/exponential' ? 'active' : '' %>" href="/fibonacci/exponential">Fibonacci Exponential</a></li>
            <li class="main-header__item"><a class="<%= path === '/polynomial' ? 'active' : '' %>" href="/fibonacci/polynomial">Fibonacci Polynomial</a></li>
            <li class="main-header__item"><a class="<%= path === '/search-methods' ? 'active' : '' %>" href="/search/search-methods">Search</a></li>
        </ul>
    </nav>
</header>